.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-elements{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#video-track{
  width: 30rem;
  height: 30rem;
}
.screenshot{
  height: 20rem;
  margin: 5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
